body {
	justify-items: center;
	align-items: center;
	text-align: center;
}

.page-container {
	display: block;
	justify-items: center;
	align-items: center;
	text-align: center;
}

#title {
	text-align: center;
	display: block;
}

#game-container {
	align-self: center;
	display: block;
	margin: auto;	
}

canvas {
	display: block;   
	margin: auto;
}