body {
	justify-items: center;
	align-items: center;
	text-align: center;
}

.page-container {
	margin: 50px;
	padding: 20%;
	justify-items: center;
	align-items: center;
	text-align: center;
}

#game-container {
	align-self: center;
	display: block;
	margin: auto;	
}

canvas {
	display: block;   
	margin: auto;
}