body {
	justify-items: center;
	align-items: center;
	text-align: center;
	
	background-color: rgb( 217, 221, 237);
}

.page-container {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0;
	padding: 0;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.title {
	/* display: block; */
	text-align: center;
	text-transform: uppercase;
	font: bold 55px/60px Arial, Helvetica, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(182, 27, 242, 0.4), 1px -1px 2px rgba(182, 27, 242, 0.4), -1px 1px 2px rgba(182, 27, 242, 0.4), -1px -1px 2px rgba(182, 27, 242, 0.4), 0 0 20px rgba(0, 134, 255, 0.75);
	
	margin: 2%;
}

#game-container {
	align-self: center;
	align-items: center;
	justify-content: center;
	display: block;
	margin: 0;
	padding: 0;
	width: 800 !important;
	height: 600 !important;
}

canvas {
	display: block;
	border-radius: 6px;
}